{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}
    {#    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />#}
    {#    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />#}
    {#    <link href="https://www.beenverified.com/lp/a19763/2/css/style.css" rel="stylesheet" type="text/css">#}
    {#    <title>Search results</title>#}

{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Search people</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" action="{{ path('search') }}">
                        <input required class="form-control me-2" type="search" placeholder="First name" name="_firstname" aria-label="Search">
                        <input required class="form-control me-2" type="search" placeholder="Last name" name="_lastname" aria-label="Search">
                        <input required class="form-control me-2" type="search" placeholder="City" name="_city" aria-label="Search">
                        <input required class="form-control me-2" type="search" placeholder="State" name="_state" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">

        {#            <div class="col-sm-3 position-fixed">#}
        {#                <div >#}
        {#                    <div class="list-group">#}
        {#                        <a href="#card-clustrmaps" class="list-group-item list-group-item-action" aria-current="true">Clustrmaps.com</a>#}
        {#                        <a href="#card-fps" class="list-group-item list-group-item-action">FastPeopleSearch.com</a>#}
        {#                        <a href="#card-florida" class="list-group-item list-group-item-action">FloridaResidentsDirectory</a>#}
        {#                        <a href="#card-mylife" class="list-group-item list-group-item-action">Mylife.com</a>#}
        {#                        <a href="#card-nuwber" class="list-group-item list-group-item-action">Nuwber.com</a>#}
        {#                        <a href="#card-spokeo" class="list-group-item list-group-item-action">Spokeo.com</a>#}
        {#                        <a href="#card-voterrecords" class="list-group-item list-group-item-action">Voterrecords.com</a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}

        {#            <div class="offset-sm-3 col-sm-8">#}

        {#                <div class="card" id="card-clustrmaps">#}
        {#                    <div class="card-header" id="card-clustrmaps-header">#}
        {#                        Clustrmaps.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-clustrmaps-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-fps">#}
        {#                    <div class="card-header" id="card-fps-header">#}
        {#                        FastPeopleSearch.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-fps-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-florida">#}
        {#                    <div class="card-header" id="card-florida-header">#}
        {#                        FloridaResidentsDirectory.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-florida-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-mylife">#}
        {#                    <div class="card-header" id="card-mylife-header">#}
        {#                        Mylife.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-mylife-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-nuwber">#}
        {#                    <div class="card-header" id="card-nuwber-header">#}
        {#                        Nuwber.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-nuwber-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-spokeo">#}
        {#                    <div class="card-header" id="card-spokeo-header">#}
        {#                        Spokeo.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-spokeo-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}

        {#                <div class="card" id="card-voterrecords">#}
        {#                    <div class="card-header" id="card-voterrecords-header">#}
        {#                        Voterrecords.com#}
        {#                    </div>#}
        {#                    <div class="card-body" id="card-voterrecords-body">#}
        {#                        <div class="d-flex justify-content-center">#}
        {#                            <img src="{{ asset('img/Search.gif') }}" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <br>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {#    <script src="{{ asset('js/search.js') }}"></script>#}
        {#    <script>#}
        {#        $( document ).ready(function() {#}
        {#            let firstname = '{{ firstname }}';#}
        {#            let lastname = '{{ lastname }}';#}
        {#            let loc = '{{ location }}';#}
        {#            parse(firstname, lastname, loc);#}
        {#        });#}

        {#        $(document).on("click",'.del-link', function (e) {#}
        {#            let link = $(this).attr('link');#}
        {#            let site = $(this).attr('site');#}
        {#            $.ajax({#}
        {#                url: '/provider/' + site + '/delete',#}
        {#                method: 'post',#}
        {#                data: {link: link},#}
        {#                success: function () {#}
        {#                    alert('Deletion request has been sent');#}
        {#                },#}
        {#                error: function () {#}
        {#                    alert('Can not send deletion request');#}
        {#                }#}
        {#            });#}
        {#            $(this).prop('disabled', true);#}
        {#        });#}

        {#    </script>#}
        <div class="offset-sm-2 col-sm-8">
            {% if already == 'yes' %}
                <div class="alert alert-danger" role="alert">
                    Ooops! It looks like you have already sent deletion request for <strong>{{ firstname }} {{ lastname }} in {{ city }},{{ state }}</strong>
                </div>
            {% endif %}
            <div class="card" style="visibility: hidden">
                <div class="card-header">
                    Deletion request for <strong>{{ firstname }} {{ lastname }} in {{ city }},{{ state }}</strong>
                </div>
                <div class="card-body">
                    <div class="step-1" style="visibility: hidden">
                        <span>Collecting all available data brokers... </span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status" aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>
                    <div class="step-2" style="visibility: hidden">
                        <span>Searching across 100 unique data brokers... </span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status" aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>
                    <div class="step-3" style="visibility: hidden">
                        <span>Making deletion requests...</span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status" aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>

                    <br>
                    <h5 class="card-title">Total progress</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-animated progress-bar-striped" role="progressbar" style="width: 0%">0%</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        async function sleep(ms){return new Promise(resolve=>setTimeout(resolve,ms))}async function go(){for(var i=1;i<101;i++){await sleep(300);$(".step-1").css("visibility","visible");if(i===10){$(".step-1 > .spinner-border").css("visibility","hidden");$(".step-1 > span").css("visibility","visible");$(".step-2").css("visibility","visible")}if(i===60){$(".step-2 > .spinner-border").css("visibility","hidden");$(".step-2 > span").css("visibility","visible");$(".step-3").css("visibility","visible")}if(i===10||i===30||i===50){await sleep(800)}$(".progress-bar").css("width",i+"%").html(i+"%")}$(".step-3 > .spinner-border").css("visibility","hidden");$(".step-3 > span").css("visibility","visible");$(".progress-bar").removeClass("progress-bar-animated").removeClass(" progress-bar-striped")}$(document).ready(function(){let already='{{ already }}';if(already==='no'){$(".card").css("visibility","visible");go()}});
    </script>
{% endblock %}