{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Search people</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" action="{{ path('search') }}">
                        <input disabled required class="form-control me-2" type="search" placeholder="First name"
                               name="_firstname" aria-label="Search">
                        <input disabled required class="form-control me-2" type="search" placeholder="Last name" name="_lastname"
                               aria-label="Search">
                        <input disabled required class="form-control me-2" type="search" placeholder="City" name="_city"
                               aria-label="Search">
                        <input disabled required class="form-control me-2" type="search" placeholder="State" name="_state"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card">
                <div class="card-header">
                    Deletion request for <strong>{{ firstname }} {{ lastname }} in {{ city }},{{ state }}</strong>
                </div>
                <div class="card-body">
                    <div class="step-1" style="visibility: hidden">
                        <span>Collecting all data brokers... </span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status"
                             aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>
                    <div class="step-2" style="visibility: hidden">
                        <span>Checking data brokers availability... </span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status"
                             aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>
                    <div class="step-3" style="visibility: hidden">
                        <span>Making search requests...</span>
                        <div class="spinner-border ms-auto spinner-border-sm text-primary" role="status"
                             aria-hidden="true"></div>
                        <span style="color: green; visibility: hidden">OK</span>
                    </div>

                    <br>
                    <h5 class="card-title">Total progress</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-animated progress-bar-striped" role="progressbar"
                             style="width: 0%">0%
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        let dashboardPath = '{{ path('dashboard') }}';
        async function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms))
        }

        async function go() {
            for (var i = 1; i < 101; i++) {
                await sleep(50);
                $(".step-1").css("visibility", "visible");
                if (i === 30) {
                    $(".step-1 > .spinner-border").css("visibility", "hidden");
                    $(".step-1 > span").css("visibility", "visible");
                    $(".step-2").css("visibility", "visible")
                }
                if (i === 60) {
                    $(".step-2 > .spinner-border").css("visibility", "hidden");
                    $(".step-2 > span").css("visibility", "visible");
                    $(".step-3").css("visibility", "visible")
                }
                if (i === 10 || i === 30 || i === 50) {
                    await sleep(600)
                }
                $(".progress-bar").css("width", i + "%").html(i + "%")
            }
            $(".step-3 > .spinner-border").css("visibility", "hidden");
            $(".step-3 > span").css("visibility", "visible");
            $(".progress-bar").removeClass("progress-bar-animated").removeClass(" progress-bar-striped");
            window.location.replace(dashboardPath);
        }

        $(document).ready(function () {
            go();
        });
    </script>
{% endblock %}